

/* .bulb-light {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    left: 50px;
}

.bulb-light:hover{
    background-color: blue;
} */

#bulb-svg {
    max-width: 100px;
}

.bulb-container {
    position: relative;
}

/* .bulb-light {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
} */
