.project-card {
    max-width: 300px;
    box-sizing: border-box;
    justify-self: center;
    padding-bottom: 1rem;
  }

.project-card-img {
    position: relative;
}
.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #3532d9;
    border-radius: 4px;
  }

  .project-card-img:hover .card-overlay {
    opacity: 1;
  }

  .card-overlay p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }