.subscription-container {
    background-color: #EBEAFB;
    padding: 60px 0px;
    
}

.social-texts {
    display: block;
    text-align: center;
    margin: 0 10%;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}
.email-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-form {
    padding-right: 8px;
}

.textbox {
    padding: 0.6rem 1.5rem;
    border-radius: 5rem;
    margin-bottom: 5%;
}

.social-links {
    display: block;
    justify-self: center;
}

.social-button {
    display: inline-flex;
    margin: 0 auto;
    border-radius: 100%;
    background-color: #3532D9 ;
    color: white;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center ;
    margin-right: 8px;
}

.social-button a {
    width: 150%;
}


@media screen and (min-width: 650px) {
    .email-subscribe{
        display: flex;
        flex-direction: row;
    }
}
